@charset "utf-8";

/* --------------------------------------------------------------
	common
-------------------------------------------------------------- */

html{
/*
	width:172mm !important;
	margin:0px auto;
*/
}
* * {
/*
	page-break-inside: auto!important;
	page-break-before: auto!important;
	page-break-after: auto!important;
*/
}



header{
	position:relative!important;
}

header .bg_gray ul li{
	padding:25px 3px 15px;
}
header .bg_gray .bg_gray-inner > ul > li a{
	font-size:12px!important;
}
header .bg_black .header_sns_links li.tw{
	margin-right:15px;
}
header .bg_black .about{
	right:290px;
}

#content{
	margin-top:0px!important;
}
.mod_btn_page_top{
	display:none;
}


/* --------------------------------------------------------------
	トップページ（#page-el_borde-top）
-------------------------------------------------------------- */

#page-el_borde-top #content #latest_article ul.article_list li{
	position:relative !important;
	display:block !important;
	left:0 !important;
	top:auto !important;
	float:left;
/*	page-break-inside: avoid!important; */
}
#page-el_borde-top #content #latest_article ul.article_list li.print_br{
	clear:both;
}
#page-el_borde-top #content #latest_article ul.article_list{
	height:auto !important;
}
#page-el_borde-top #content #latest_article ul.newest2 li article h3,
#page-el_borde-top #content #latest_article ul.newest2 li article .lead{
	height:auto!important;
}

#page-el_borde-top #content #popular_article .list_wrapper,
#page-el_borde-top #content #popular_article .list_wrapper .list_wrapper_inner{
	page-break-inside: auto!important;
}

#page-el_borde-top #content #popular_article .list_wrapper .list_wrapper_inner ul li article{
	height:auto!important;
	page-break-inside: avoid!important;
}

/* --------------------------------------------------------------
	一覧ページ（#page-el_borde-list）
-------------------------------------------------------------- */

#page-el_borde-list #content #news_list .category_tab{
	text-align:center;
}
#page-el_borde-list #content #news_list .category_tab ul{
	display:inline-block;
}

#page-el_borde-list #content #news_list ul.article_list li.showup{
	position:relative !important;
	display:block !important;
	left:0 !important;
	top:auto !important;
	float:left;
	page-break-inside: avoid!important;
	height:auto !important;
}
#page-el_borde-list #content #news_list ul.article_list li.print_br{
	clear:both;
}
#page-el_borde-list #content #news_list ul.article_list{
	height:auto !important;
}
